<div class="modal-header">
    <h4 class="modal-title">{{ readonlyItem ? "Dettaglio" : itemToUpdate ? "Modifica" : "Creazione" }} contatto</h4>
    <button type="button" class="btn-close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <ng-container *ngIf="loading; else showContent">
        <div class="my-5 text-center">
            <div class="spinner-border"></div>
        </div>
    </ng-container>
    <ng-template #showContent>

        <ng-template #autoTemplate let-r="result" let-t="term">
            <span class="text-muted pe-2">
                <ngb-highlight [result]="r.id" [term]="t"></ngb-highlight>
            </span>
            <ngb-highlight [result]="r.descrizione" [term]="t"></ngb-highlight>
        </ng-template>

        <form class="p-2" autocomplete="off" novalidate>

            <div class="border rounded p-2 px-3">
                <button class="btn fw-bold" (click)="collapsed.contatto = !collapsed.contatto">
                    <i
                        class="bi"
                        [class.bi-chevron-expand]="collapsed.contatto"
                        [class.bi-chevron-contract]="!collapsed.contatto"
                    ></i>
                    Informazioni contatto
                </button>
                <div #collapse="ngbCollapse" [(ngbCollapse)]="collapsed.contatto">

                    <div class="flexgrid flexgrid--3 mt-2">
        
                        <app-input
                            type="select"
                            name="titolo"
                            label="Titolo *"
                            [options]="titoli"
                            [ngControl]="form.controls['idTitolo']"
                            [floatingLabel]="true"
                            [disabled]="readonlyItem"
                        />
        
                        <app-input
                            name="cognome"
                            label="Cognome *"
                            [ngControl]="form.controls['cognome']"
                            [floatingLabel]="true"
                            [disabled]="readonlyItem"
                        />
        
                        <app-input
                            name="nome"
                            label="Nome *"
                            [ngControl]="form.controls['nome']"
                            [floatingLabel]="true"
                            [disabled]="readonlyItem"
                        />
                    </div>
        
                    <div class="flexgrid flexgrid--2">
        
                        <app-input
                            type="autocomplete"
                            name="azienda"
                            label="Azienda *"
                            [options]="aziende"
                            [template]="autoTemplate"
                            [formatter]="autoFormatter"
                            [limit]="25"
                            [ngControl]="form.controls['azienda']"
                            [floatingLabel]="true"
                            [disabled]="readonlyItem"
                        />
        
                        <app-input
                            type="autocomplete"
                            name="referente"
                            label="Referente *"
                            [options]="referenti"
                            [template]="autoTemplate"
                            [formatter]="autoFormatter"
                            [ngControl]="form.controls['referente']"
                            [floatingLabel]="true"
                            [disabled]="readonlyItem"
                        />
                    </div>
        
                    <div class="d-flex flex-wrap gap-3 p-2">
        
                        <app-input
                            type="checkbox"
                            name="referenteCliente"
                            label="Referente cliente"
                            [ngControl]="form.controls['referenteTerzaParte']"
                            [floatingLabel]="true"
                            [disabled]="readonlyItem"
                        />
        
                        <app-input
                            type="checkbox"
                            name="auguri"
                            label="Auguri"
                            [ngControl]="form.controls['valido']"
                            [floatingLabel]="true"
                            [disabled]="readonlyItem"
                        />
                    </div>
                </div>
            </div>

            <div class="border rounded p-2 px-3 mt-3">
                <button class="btn fw-bold" (click)="collapsed.professionali = !collapsed.professionali">
                    <i
                        class="bi"
                        [class.bi-chevron-expand]="collapsed.professionali"
                        [class.bi-chevron-contract]="!collapsed.professionali"
                    ></i>
                    Recapiti professionali
                </button>
                <div #collapse="ngbCollapse" [(ngbCollapse)]="collapsed.professionali">
                    
                    <div class="flexgrid flexgrid--4 mt-2">

                        <app-input
                            name="tecnoCode"
                            label="Tecno code"
                            [ngControl]="form.controls['tecnoCode']"
                            [floatingLabel]="true"
                            [disabled]="readonlyItem"
                        />

                        <app-input
                            name="telefono"
                            label="Telefono aziendale"
                            [ngControl]="form.controls['telefono']"
                            [floatingLabel]="true"
                            [disabled]="readonlyItem"
                        />

                        <app-input
                            name="cellulare"
                            label="Cellulare aziendale"
                            [ngControl]="form.controls['cellulare']"
                            [floatingLabel]="true"
                            [disabled]="readonlyItem"
                        />

                        <app-input
                            name="email"
                            label="Email aziendale"
                            [ngControl]="form.controls['email']"
                            [floatingLabel]="true"
                            [disabled]="readonlyItem"
                        />
                    </div>

                    <div class="flexgrid flexgrid--4">

                        <app-input
                            type="select"
                            name="indirizzo"
                            label="Indirizzo"
                            [options]="indirizzi"
                            [ngControl]="form.controls['indirizzo']"
                            [floatingLabel]="true"
                            [disabled]="readonlyItem || !indirizzi.length"
                        />

                        <app-input
                            name="citta"
                            label="Città"
                            [ngControl]="form.controls['citta']"
                            [floatingLabel]="true"
                            [disabled]="true"
                        />

                        <app-input
                            name="provincia"
                            label="Provincia"
                            [ngControl]="form.controls['denominazione']"
                            [floatingLabel]="true"
                            [disabled]="true"
                        />

                        <app-input
                            name="cap"
                            label="CAP"
                            [ngControl]="form.controls['cap']"
                            [floatingLabel]="true"
                            [disabled]="true"
                        />
                    </div>
                </div>
            </div>

            <div class="border rounded p-2 px-3 mt-3">
                <button class="btn fw-bold" (click)="collapsed.personali = !collapsed.personali">
                    <i
                        class="bi"
                        [class.bi-chevron-expand]="collapsed.personali"
                        [class.bi-chevron-contract]="!collapsed.personali"
                    ></i>
                    Recapiti personali
                </button>
                <div #collapse="ngbCollapse" [(ngbCollapse)]="collapsed.personali">
                    <div class="flexgrid flexgrid--3 mt-2">

                        <app-input
                            name="telefonoPersonale"
                            label="Telefono personale"
                            [ngControl]="form.controls['telefonoPrivata']"
                            [floatingLabel]="true"
                            [disabled]="readonlyItem"
                        />

                        <app-input
                            name="cellularePersonale"
                            label="Cellulare personale"
                            [ngControl]="form.controls['cellularePrivata']"
                            [floatingLabel]="true"
                            [disabled]="readonlyItem"
                        />

                        <app-input
                            name="emailPersonale"
                            label="Email personale"
                            [ngControl]="form.controls['emailPrivata']"
                            [floatingLabel]="true"
                            [disabled]="readonlyItem"
                        />
                    </div>
                </div>
            </div>

            <div class="border rounded p-2 px-3 my-3">
                <button class="btn fw-bold" (click)="collapsed.altro = !collapsed.altro">
                    <i
                        class="bi"
                        [class.bi-chevron-expand]="collapsed.altro"
                        [class.bi-chevron-contract]="!collapsed.altro"
                    ></i>
                    Altro
                </button>
                <div #collapse="ngbCollapse" [(ngbCollapse)]="collapsed.altro">
                    <div class="flexgrid mt-2">
                        <app-input
                            type="textarea"
                            name="note"
                            label="Note"
                            [ngControl]="form.controls['note']"
                            [floatingLabel]="true"
                            [disabled]="readonlyItem"
                        />
                    </div>
                </div>
            </div>

            <div *ngIf="!readonlyItem" class="text-center pt-3">
                <button
                    class="btn btn-lg btn-primary shadow"
                    [disabled]="form.invalid || form.invalid || form.invalid"
                    (click)="createUpdate()"
                >
                    Salva <i class="bi bi-save-fill"></i>
                </button>
            </div>
        </form>
    </ng-template>
</div>