<div class="container-xxxl py-5 px-3">

    <div class="text-center mb-4">
        <h1 class="display-6">Gestione altri contatti</h1>
        <p class="lead">Da qui puoi cercare/creare/modificare gli altri contatti.</p>
    </div>

    <div class="col-md-8 mx-auto mb-4 card card-body shadow">
        
        <h5>Filtri ricerca contatti</h5>

        <div class="flexgrid flexgrid--3">

            <app-input
                name="cognome"
                label="Cognome"
                [ngControl]="cognomeCtrl"
                [floatingLabel]="true"
            ></app-input>

            <app-input
                name="nome"
                label="Nome"
                [ngControl]="nomeCtrl"
                [floatingLabel]="true"
            ></app-input>

            <app-input
                type="autocomplete"
                name="referente"
                label="Referente"
                [options]="referenti"
                [template]="refTmpl"
                [formatter]="referenteFormatter"
                [ngControl]="referenteCtrl"
                [floatingLabel]="true"
            ></app-input>
            <ng-template #refTmpl let-r="result" let-t="term">
                <span class="text-muted pe-2">
                    <ngb-highlight [result]="r.id" [term]="t"></ngb-highlight>
                </span>
                <ngb-highlight [result]="r.descrizione" [term]="t"></ngb-highlight>
            </ng-template>
        </div>

        <div class="text-center my-3">
            <div class="btn-group shadow">

                <button
                    class="btn btn-outline-primary"
                    (click)="form.reset(); this.refresh$.next();"
                >
                    <i class="bi bi-x-lg pe-2"></i>
                    Reset
                </button>

                <button
                    class="btn btn-primary"
                    (click)="refresh$.next()"
                >
                    Cerca
                    <ng-container *ngIf="isLoading; else searchIcon">
                        <span class="spinner-border spinner-border-sm"></span>
                    </ng-container>
                    <ng-template #searchIcon>
                        <i class="bi bi-search ps-2"></i>
                    </ng-template>
                </button>
            </div>
        </div>
    </div>

    <div class="card card-body px-0 pb-0 pt-3 shadow">

        <div class="table-plus">

            <h5 class="table-plus__title">Tabella contatti</h5>

            <button
                type="button"
                class="btn btn-success shadow"
                (click)="create()"
            >
                <i class="bi bi-plus"></i>
                Crea contatto
            </button>
        </div>

        <ng-template #emptyTmpl>
            <div style="
                display: grid;
                gap: 0.75rem;
                justify-items: center;
                margin: 0 auto;
                max-width: 400px;
                padding: 3rem 1rem;
                text-align: center;
            ">

                <ng-container *ngIf="init; else abc">
                    <img class="img-fluid" style="max-height: 150px;" src="assets/images/no-results.svg" alt="nessun risultato trovato">
                    <div class="lead">Nessun contatto trovato.</div>
                </ng-container>
                <ng-template #abc>
                    <ng-container *ngIf="!isLoading else loading">
                        <div class="text-center text-muted">
                            Clicca su <i class="bi bi-search ps-2"></i> per iniziare una ricerca.
                        </div>
                    </ng-container>
                    <ng-template #loading>
                        <span class="spinner-border"></span>
                    </ng-template>
                </ng-template>
            </div>
        </ng-template>

        <app-table
            #dt
            [thead]="thead"
            [tbody]="tbody"
            [animated]="true"
            [items]="contatti"
            [searchable]="[
                'cognome',
                'nome',
                'idUtente'
            ]"
            [paginated]="true"
            [pageSize]="5"
            [emptyTemplate]="emptyTmpl"
        >

            <ng-template #thead>
                <th sortable="idUtente" (sort)="dt.sort($event)">ID</th>
                <th sortable="cognome" (sort)="dt.sort($event)">Cognome</th>
                <th sortable="nome" (sort)="dt.sort($event)">Nome</th>
                <th style="width: 10rem"></th>
            </ng-template>

            <ng-template #tbody let-item let-term$="term$">
                <td data-label="ID">
                    <ngb-highlight [result]="item.idUtente" [term]="$any(term$ | async)"/>
                </td>
                <td data-label="Cognome">
                    <ngb-highlight [result]="item.cognome" [term]="$any(term$ | async)"/>
                </td>
                <td data-label="Nome">
                    <ngb-highlight [result]="item.nome" [term]="$any(term$ | async)"/>
                </td>
                <td>
                    <div class="d-flex gap-2 justify-content-center">

                        <button
                            type="button"
                            class="btn btn-primary shadow"
                            (click)="readonly(item)"
                        >
                            <i class="bi bi-eye"></i>
                        </button>

                        <button
                            type="button"
                            class="btn btn-warning shadow"
                            (click)="update(item)"
                        >
                            <i class="bi bi-pencil"></i>
                        </button>

                        <button
                            type="button"
                            class="btn btn-danger shadow"
                            (click)="delete(item)"
                        >
                            <i class="bi bi-trash3"></i>
                        </button>
                    </div>
                </td>
            </ng-template>
        </app-table>
    </div>
</div>
