<div class="container-xxxl py-5 px-3">
    <div class="home-grid col-md-9" style="margin: min(10vh, 10rem) auto">

        <div class="card card-body shadow">
            <h5>Persone in organico</h5>
            <i class="bi bi-people"></i>
            <a class="stretched-link" routerLink="./persone-organico"></a>
        </div>

        <div class="card card-body shadow">
            <h5>Altri contatti</h5>
            <i class="bi bi-people-fill"></i>
            <a class="stretched-link" routerLink="./altre-persone"></a>
        </div>

        <div class="card card-body shadow">
            <h5>Aziende del gruppo</h5>
            <i class="bi bi-buildings-fill"></i>
            <a class="stretched-link" routerLink="./aziende-gruppo"></a>
        </div>

        <div class="card card-body shadow">
            <h5>Clienti e fornitori</h5>
            <i class="bi bi-truck"></i>
            <a class="stretched-link" routerLink="./altre-aziende"></a>
        </div>
    </div>
</div>
