<div class="modal-header">
    <h4 class="modal-title">{{ readonlyItem ? "Dettaglio" : itemToUpdate ? "Modifica" : "Creazione" }} persona</h4>
    <button type="button" class="btn-close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <ng-container *ngIf="loading; else showContent">
        <div class="my-5 text-center">
            <div class="spinner-border"></div>
        </div>
    </ng-container>
    <ng-template #showContent>

        <ng-template #autoTemplate let-r="result" let-t="term">
            <ngb-highlight [result]="r.descrizione" [term]="t"></ngb-highlight>
        </ng-template>

        <nav class="wiz" ngbNav #nav="ngbNav" [destroyOnHide]="false">

            <ng-container [ngbNavItem]="1">
                <a ngbNavLink class="wiz__step">
                    <div class="wiz__title d-md-none">Step 1</div>
                    <div class="wiz__descr">Dati personali</div>
                </a>
                <ng-template ngbNavContent>

                    <form class="p-2 my-4" autocomplete="off" novalidate>

                        <div class="fs-5 fw-bold mb-2">Anagrafiche</div>
                        <div class="flexgrid flexgrid--4">

                            <app-input
                                type="select"
                                name="titolo"
                                label="Titolo *"
                                [options]="titoli"
                                [ngControl]="form1.controls['titolo']"
                                [floatingLabel]="true"
                                [disabled]="readonlyItem"
                            />

                            <app-input
                                name="cognome"
                                label="Cognome *"
                                [ngControl]="form1.controls['cognome']"
                                [floatingLabel]="true"
                                [disabled]="readonlyItem"
                            />

                            <app-input
                                name="nome"
                                label="Nome *"
                                [ngControl]="form1.controls['nome']"
                                [floatingLabel]="true"
                                [disabled]="readonlyItem"
                            />

                            <app-input
                                type="select"
                                name="sesso"
                                label="Sesso *"
                                [options]="generiBiologici"
                                [ngControl]="form1.controls['sesso']"
                                [floatingLabel]="true"
                                [disabled]="readonlyItem"
                            />
                        </div>

                        <div class="flexgrid flexgrid--3">

                            <app-input
                                type="date"
                                name="dataNascita"
                                label="Data di nascita"
                                [ngControl]="form1.controls['dataDiNascita']"
                                [floatingLabel]="true"
                                [disabled]="readonlyItem"
                            />

                            <app-input
                                name="luogoNascita"
                                label="Luogo di nascita"
                                [ngControl]="form1.controls['luogoNascita']"
                                [floatingLabel]="true"
                                [disabled]="readonlyItem"
                            />

                            <app-input
                                type="autocomplete"
                                name="provinciaNascita"
                                label="Provincia di nascita"
                                [options]="province"
                                [template]="autoTemplate"
                                [formatter]="autoFormatter"
                                [ngControl]="form1.controls['provinciaDiNascita']"
                                [floatingLabel]="true"
                                [disabled]="readonlyItem"
                            />

                            <app-input
                                name="codFiscale"
                                label="Codice fiscale"
                                [ngControl]="form1.controls['codFiscale']"
                                [floatingLabel]="true"
                                [disabled]="readonlyItem"
                            />

                            <app-input
                                name="nazionalita"
                                label="Nazionalità"
                                [ngControl]="form1.controls['nazionalita']"
                                [floatingLabel]="true"
                                [disabled]="readonlyItem"
                            />
                        </div>

                        <div class="border rounded p-2 px-3 mt-3">
                            <button class="btn fs-5 fw-bold" (click)="collapsed.contatti = !collapsed.contatti">
                                <i
                                    class="bi"
                                    [class.bi-chevron-expand]="collapsed.contatti"
                                    [class.bi-chevron-contract]="!collapsed.contatti"
                                ></i>
                                Contatti
                            </button>
                            <div #collapse="ngbCollapse" [(ngbCollapse)]="collapsed.contatti">
                                <div class="flexgrid flexgrid--4 mt-2">
        
                                    <app-input
                                        name="telefono"
                                        label="Telefono personale"
                                        [ngControl]="form1.controls['telefono']"
                                        [floatingLabel]="true"
                                        [disabled]="readonlyItem"
                                    />
        
                                    <app-input
                                        name="cellulare"
                                        label="Cellulare personale"
                                        [ngControl]="form1.controls['cellulare']"
                                        [floatingLabel]="true"
                                        [disabled]="readonlyItem"
                                    />
        
                                    <app-input
                                        name="email"
                                        label="Email personale"
                                        [ngControl]="form1.controls['email']"
                                        [floatingLabel]="true"
                                        [disabled]="readonlyItem"
                                    />

                                    <app-input
                                        name="email"
                                        label="Email professionale"
                                        [ngControl]="form1.controls['emailProfessionale']"
                                        [floatingLabel]="true"
                                        [disabled]="readonlyItem"
                                    />
                                </div>
                            </div>
                        </div>

                        <div class="border rounded p-2 px-3 mt-3">
                            <button class="btn fs-5 fw-bold" (click)="collapsed.residenza = !collapsed.residenza">
                                <i
                                    class="bi"
                                    [class.bi-chevron-expand]="collapsed.residenza"
                                    [class.bi-chevron-contract]="!collapsed.residenza"
                                ></i>
                                Residenza
                            </button>
                            <div #collapse="ngbCollapse" [(ngbCollapse)]="collapsed.residenza">
                                <div class="flexgrid flexgrid--4 mt-2">
        
                                    <app-input
                                        name="indirizzo"
                                        label="Indirizzo"
                                        [ngControl]="form1.controls['indirizzo']"
                                        [floatingLabel]="true"
                                        [disabled]="readonlyItem"
                                    />
        
                                    <app-input
                                        name="cap"
                                        label="CAP"
                                        [ngControl]="form1.controls['cap']"
                                        [floatingLabel]="true"
                                        [disabled]="readonlyItem"
                                    />
        
                                    <app-input
                                        name="citta"
                                        label="Città"
                                        [ngControl]="form1.controls['citta']"
                                        [floatingLabel]="true"
                                        [disabled]="readonlyItem"
                                    />
        
                                    <app-input
                                        type="autocomplete"
                                        name="provinciaResidenza"
                                        label="Provincia di residenza"
                                        [options]="province"
                                        [template]="autoTemplate"
                                        [formatter]="autoFormatter"
                                        [ngControl]="form1.controls['provinciaDiResidenza']"
                                        [floatingLabel]="true"
                                        [disabled]="readonlyItem"
                                    />
                                </div>
                            </div>
                        </div>

                        <div class="border rounded p-2 px-3 mt-3">
                            <button class="btn fs-5 fw-bold" (click)="collapsed.istruzione= !collapsed.istruzione">
                                <i
                                    class="bi"
                                    [class.bi-chevron-expand]="collapsed.istruzione"
                                    [class.bi-chevron-contract]="!collapsed.istruzione"
                                ></i>
                                Istruzione
                            </button>
                            <div #collapse="ngbCollapse" [(ngbCollapse)]="collapsed.istruzione">
                                <div class="flexgrid flexgrid--3 mt-2">
        
                                    <app-input
                                        type="select"
                                        name="titoloStudio"
                                        label="Titolo di studio"
                                        [options]="titoliStudio"
                                        [ngControl]="form1.controls['titoloStudio']"
                                        [floatingLabel]="true"
                                        [disabled]="readonlyItem"
                                    />
        
                                    <app-input
                                        type="select"
                                        name="materiaStudio"
                                        label="Materia di studio"
                                        [options]="materieStudio"
                                        [ngControl]="form1.controls['titoloStudioArea']"
                                        [floatingLabel]="true"
                                        [disabled]="readonlyItem || materieStudio.length === 0"
                                    />
                                </div>
                            </div>
                        </div>

                        <div class="border rounded p-2 px-3 mt-3">
                            <button class="btn fs-5 fw-bold" (click)="collapsed.altro = !collapsed.altro">
                                <i
                                    class="bi"
                                    [class.bi-chevron-expand]="collapsed.altro"
                                    [class.bi-chevron-contract]="!collapsed.altro"
                                ></i>
                                Altro
                            </button>
                            <div #collapse="ngbCollapse" [(ngbCollapse)]="collapsed.altro">
                                <div class="flexgrid flexgrid--3 mt-2">
        
                                    <app-input
                                        type="select"
                                        name="statoCivile"
                                        label="Stato civile"
                                        [options]="statiCivili"
                                        [ngControl]="form1.controls['statoCivile']"
                                        [floatingLabel]="true"
                                        [disabled]="readonlyItem"
                                    />
        
                                    <app-input
                                        type="select"
                                        name="datiRiservati"
                                        label="Dati riservati"
                                        [options]="booleans"
                                        [ngControl]="form1.controls['datiRiservati']"
                                        [floatingLabel]="true"
                                        [disabled]="readonlyItem"
                                    />
        
                                    <app-input
                                        type="select"
                                        name="socioScai"
                                        label="Socio SCAI"
                                        [options]="booleans"
                                        [ngControl]="form1.controls['socioScai']"
                                        [floatingLabel]="true"
                                        [disabled]="readonlyItem"
                                    />
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="text-end">
                        <button
                            class="btn btn-outline-primary"
                            [disabled]="!readonlyItem && form1.invalid"
                            (click)="nav.select(2)"
                        >
                            Prossimo <i class="bi bi-caret-right-fill"></i>
                        </button>
                    </div>
                </ng-template>
            </ng-container>

            <ng-container [ngbNavItem]="2" [disabled]="!readonlyItem && form1.invalid">
                <a ngbNavLink class="wiz__step">
                    <div class="wiz__title d-md-none">Step 2</div>
                    <div class="wiz__descr">Dati professionali</div>
                </a>
                <ng-template ngbNavContent>

                    <form class="p-2 my-4" autocomplete="off" novalidate>

                        <div class="fs-5 fw-bold mb-2">Aziendali</div>
                        <div class="flexgrid flexgrid--4">

                            <app-input
                                name="gruppo"
                                label="Gruppo"
                                [ngControl]="form2.controls['gruppo']"
                                [floatingLabel]="true"
                                [disabled]="readonlyItem"
                            />

                            <app-input
                                name="numeroBadge"
                                label="Nr. badge"
                                [ngControl]="form2.controls['badge']"
                                [floatingLabel]="true"
                                [disabled]="readonlyItem"
                            />

                            <app-input
                                name="tecnoCode"
                                label="Tecno code"
                                [ngControl]="form2.controls['technocode']"
                                [floatingLabel]="true"
                                [disabled]="readonlyItem"
                            />

                            <app-input
                                name="uuidWelcome"
                                label="UUID welcome"
                                [ngControl]="form2.controls['uuidWelcome']"
                                [floatingLabel]="true"
                                [disabled]="readonlyItem"
                            />
                        </div>

                        <div class="border rounded p-2 px-3 mt-3">
                            <button class="btn fs-5 fw-bold" (click)="collapsed.contattiProfessionali = !collapsed.contattiProfessionali">
                                <i
                                    class="bi"
                                    [class.bi-chevron-expand]="collapsed.contattiProfessionali"
                                    [class.bi-chevron-contract]="!collapsed.contattiProfessionali"
                                ></i>
                                Contatti
                            </button>
                            <div #collapse="ngbCollapse" [(ngbCollapse)]="collapsed.contattiProfessionali">
                                <div class="flexgrid flexgrid--4 mt-2">
        
                                    <app-input
                                        name="fax"
                                        label="Fax"
                                        [ngControl]="form2.controls['fax']"
                                        [floatingLabel]="true"
                                        [disabled]="readonlyItem"
                                    />
        
                                    <app-input
                                        name="telefono"
                                        label="Telefono aziendale"
                                        [ngControl]="form2.controls['telefonoProfessionale']"
                                        [floatingLabel]="true"
                                        [disabled]="readonlyItem"
                                    />
        
                                    <app-input
                                        name="cellulare"
                                        label="Cellulare aziendale"
                                        [ngControl]="form2.controls['cellulareProfessionale']"
                                        [floatingLabel]="true"
                                        [disabled]="readonlyItem"
                                    />
        
                                    <app-input
                                        name="email"
                                        label="Email aziendale"
                                        [ngControl]="form2.controls['emailAziendaleIntranet']"
                                        [floatingLabel]="true"
                                        [disabled]="readonlyItem"
                                    />
                                </div>
                            </div>
                        </div>

                        <div class="border rounded p-2 px-3 mt-3">
                            <button class="btn fs-5 fw-bold" (click)="collapsed.note = !collapsed.note">
                                <i
                                    class="bi"
                                    [class.bi-chevron-expand]="collapsed.note"
                                    [class.bi-chevron-contract]="!collapsed.note"
                                ></i>
                                Note
                            </button>
                            <div #collapse="ngbCollapse" [(ngbCollapse)]="collapsed.note">
                                <div class="flexgrid flexgrid--2 mt-2">

                                    <app-input
                                        type="textarea"
                                        name="descrizioneSedeLavoro"
                                        label="Descrizione sede lavoro"
                                        [ngControl]="form2.controls['descrizioneSedeLavoro']"
                                        [floatingLabel]="true"
                                        [disabled]="readonlyItem"
                                    />
        
                                    <app-input
                                        type="textarea"
                                        name="descrizioneUfficio"
                                        label="Descrizione ufficio"
                                        [ngControl]="form2.controls['descrizioneUfficio']"
                                        [floatingLabel]="true"
                                        [disabled]="readonlyItem"
                                    />
        
                                    <app-input
                                        type="textarea"
                                        name="note"
                                        label="Note"
                                        [ngControl]="form2.controls['noteSocioScai']"
                                        [floatingLabel]="true"
                                        [disabled]="readonlyItem"
                                    />
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="d-flex justify-content-between">

                        <button
                            class="btn btn-outline-primary"
                            (click)="nav.select(1)"
                        >
                            <i class="bi bi-caret-left-fill"></i> Precedente
                        </button>

                        <button
                            class="btn btn-outline-primary"
                            [disabled]="!readonlyItem && (form1.invalid || form2.invalid)"
                            (click)="nav.select(3)"
                        >
                            Prossimo <i class="bi bi-caret-right-fill"></i>
                        </button>
                    </div>
                </ng-template>
            </ng-container>

            <ng-container [ngbNavItem]="3" [disabled]="!readonlyItem && (form1.invalid || form2.invalid)">
                <a ngbNavLink class="wiz__step">
                    <div class="wiz__title d-md-none">Step 3</div>
                    <div class="wiz__descr">Ruoli</div>
                </a>
                <ng-template ngbNavContent>

                    <div class="p-2 my-4">

                        <div class="fs-5 fw-bold text-center mb-3">Gestione ruoli</div>

                        <div class="border border-bottom-0 rounded mb-3">

                            <div *ngIf="!readonlyItem" class="py-2 px-3 border-bottom">
                                <form class="d-flex flex-wrap justify-content-center gap-3 p-2" autocomplete="off" novalidate>
    
                                    <app-input
                                        type="autocomplete"
                                        name="azienda"
                                        placeholder="Cerca azienda"
                                        [options]="miscData.aziende"
                                        [template]="autoTemplate"
                                        [formatter]="autoFormatter"
                                        [ngControl]="form3.controls['azienda']"
                                    />
        
                                    <app-input
                                        type="autocomplete"
                                        name="profilo"
                                        placeholder="Cerca profilo"
                                        [options]="profili"
                                        [template]="autoTemplate"
                                        [formatter]="autoFormatter"
                                        [ngControl]="form3.controls['profilo']"
                                    />
    
                                    <div>
                                        <button
                                            class="btn btn-outline-primary match-floating-label"
                                            [disabled]="form3.invalid"
                                            (click)="addProfilo()"
                                        >
                                            <i class="bi bi-plus-circle-fill"></i> Aggiungi
                                        </button>
                                    </div>
                                </form>
                            </div>

                            <app-table
                                #dt
                                [thead]="thead"
                                [tbody]="tbody"
                                [animated]="true"
                                [items]="abilitazioni"
                                [searchable]="[ 'aziendaDelGruppo', 'profiliFunzioni' ]"
                                [paginated]="true"
                                [pageSize]="5"
                            >
    
                                <ng-template #thead>
                                    <th sortable="aziendaDelGruppo" (sort)="dt.sort($event)">Azienda</th>
                                    <th sortable="profiliFunzioni" (sort)="dt.sort($event)">Profilo</th>
                                    <th sortable="default" (sort)="dt.sort($event)">Default</th>
                                    <th style="width: 10rem"></th>
                                </ng-template>
    
                                <ng-template #tbody let-item let-term$="term$">
                                    <td data-label="Azienda">
                                        <ngb-highlight [result]="item.aziendaDelGruppo" [term]="$any(term$ | async)"/>
                                    </td>
                                    <td data-label="Profilo">
                                        <ngb-highlight [result]="item.profiliFunzioni" [term]="$any(term$ | async)"/>
                                    </td>
                                    <td data-label="Default">{{ item.default ? "Si" : "No" }}</td>
                                    <td>
                                        <div class="d-flex gap-2 justify-content-center">
                                            <button
                                                *ngIf="!readonlyItem"
                                                type="button"
                                                class="btn btn-danger shadow"
                                                [disabled]="item.default"
                                                (click)="deleteProfilo(item)"
                                            >
                                                <i class="bi bi-trash3"></i>
                                            </button>
                                        </div>
                                    </td>
                                </ng-template>
                            </app-table>
                        </div>

                        <div *ngIf="!readonlyItem" class="text-center pt-3">
                            <button
                                class="btn btn-lg btn-primary shadow"
                                [disabled]="form1.invalid || form2.invalid"
                                (click)="createUpdate()"
                            >
                                Salva <i class="bi bi-save-fill"></i>
                            </button>
                        </div>
                    </div>

                    <button
                        class="btn btn-outline-primary"
                        (click)="nav.select(2)"
                    >
                        <i class="bi bi-caret-left-fill"></i> Precedente
                    </button>
                </ng-template>
            </ng-container>
        </nav>

        <div *ngIf="!readonlyItem" class="text-muted px-3 pt-2 mb-2">
            Per proseguire è necessario compilare tutti i campi obbligatori (*)
        </div>
        
        <div [ngbNavOutlet]="nav"></div>
    </ng-template>
</div>